 ### Marketing campaign outcome prediction with deep learning

This ➡️ dataset contains banking marketing campaign data and we can use it to optimize marketing campaigns to attract more customers to term deposit subscription.

What is a Term Deposit?

A Term deposit is a deposit that a bank or a financial institution offers with a fixed rate (often better than just opening deposit account) in which your money will be returned back at a specific maturity time.


Instructions

In this assignment you will have to take the following steps:

- Import your dataset and perform initial analysis and visualization
- Clean the data
- Build a  deep learning network to predict the marketing campaign outcome ("deposit" either Yes or No)

#### Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

#### Loading my dataset

In [11]:
df = pd.read_csv("bank.csv")

In [13]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [15]:
df.shape

(11162, 17)

In [17]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [19]:
df.duplicated().sum()

0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [23]:
df["job"].value_counts()

job
management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: count, dtype: int64

In [25]:
df["marital"].value_counts()

marital
married     6351
single      3518
divorced    1293
Name: count, dtype: int64

In [27]:
df["education"].value_counts()

education
secondary    5476
tertiary     3689
primary      1500
unknown       497
Name: count, dtype: int64

In [29]:
df["default"].value_counts()

default
no     10994
yes      168
Name: count, dtype: int64

In [31]:
df["housing"].value_counts()

housing
no     5881
yes    5281
Name: count, dtype: int64

In [33]:
df["loan"].value_counts()

loan
no     9702
yes    1460
Name: count, dtype: int64

In [35]:
df["contact"].value_counts()

contact
cellular     8042
unknown      2346
telephone     774
Name: count, dtype: int64

In [37]:
df["month"].value_counts()

month
may    2824
aug    1519
jul    1514
jun    1222
nov     943
apr     923
feb     776
oct     392
jan     344
sep     319
mar     276
dec     110
Name: count, dtype: int64

In [39]:
df["job"].value_counts()

job
management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: count, dtype: int64

In [41]:
df["poutcome"].value_counts()

poutcome
unknown    8326
failure    1228
success    1071
other       537
Name: count, dtype: int64

In [43]:
df["deposit"].value_counts()

deposit
no     5873
yes    5289
Name: count, dtype: int64

#### Encoding categorical columns

In [46]:
df['deposit'] = df['deposit'].map({'yes': 1, 'no': 0})
df['contact'] = df['contact'].map( {'cellular': 1, 'telephone': 2, 'unknown': 0})
df['loan'] = df['loan'].map({'yes': 1, 'no': 0})
df['housing'] = df['housing'].map({'yes': 1, 'no': 0})
df['default'] = df['default'].map({'yes': 1, 'no': 0})
df['marital'] = df['marital'].map({'married': 1, 'single': 2, 'divorced': 3})

In [48]:
df = pd.get_dummies(df, columns=['job', 'education', 'month', 'poutcome'], drop_first=True)

In [50]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
le = LabelEncoder()

# Encode the 'deposit' column (target variable)
df['deposit'] = le.fit_transform(df['deposit'])

In [51]:
df.head()

,age,marital,default,balance,housing,loan,contact,day,duration,campaign,...,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown
0,59,1,0,2343,1,0,0,5,1042,1,...,False,False,False,True,False,False,False,False,False,True
1,56,1,0,45,0,0,0,5,1467,1,...,False,False,False,True,False,False,False,False,False,True
2,41,1,0,1270,1,0,0,5,1389,1,...,False,False,False,True,False,False,False,False,False,True
3,55,1,0,2476,1,0,0,5,579,1,...,False,False,False,True,False,False,False,False,False,True
4,54,1,0,184,0,0,0,5,673,2,...,False,False,False,True,False,False,False,False,False,True

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  11162 non-null  int64
 1   marital              11162 non-null  int64
 2   default              11162 non-null  int64
 3   balance              11162 non-null  int64
 4   housing              11162 non-null  int64
 5   loan                 11162 non-null  int64
 6   contact              11162 non-null  int64
 7   day                  11162 non-null  int64
 8   duration             11162 non-null  int64
 9   campaign             11162 non-null  int64
 10  pdays                11162 non-null  int64
 11  previous             11162 non-null  int64
 12  deposit              11162 non-null  int64
 13  job_blue-collar      11162 non-null  bool
 14  job_entrepreneur     11162 non-null  bool
 15  job_housemaid        11162 non-null  bool
 16  job_management       11162 non-null  bool
 17  job_retired          11162 non-null  bool
 18  job_self-employed    11162 non-null  bool
 19  job_services         11162 non-null  bool
 20  job_student          11162 non-null  bool
 21  job_technician       11162 non-null  bool
 22  job_unemployed       11162 non-null  bool
 23  job_unknown          11162 non-null  bool
 24  education_secondary  11162 non-null  bool
 25  education_tertiary   11162 non-null  bool
 26  education_unknown    11162 non-null  bool
 27  month_aug            11162 non-null  bool
 28  month_dec            11162 non-null  bool
 29  month_feb            11162 non-null  bool
 30  month_jan            11162 non-null  bool
 31  month_jul            11162 non-null  bool
 32  month_jun            11162 non-null  bool
 33  month_mar            11162 non-null  bool
 34  month_may            11162 non-null  bool
 35  month_nov            11162 non-null  bool
 36  month_oct            11162 non-null  bool
 37  month_sep            11162 non-null  bool
 38  poutcome_other       11162 non-null  bool
 39  poutcome_success     11162 non-null  bool
 40  poutcome_unknown     11162 non-null  bool
dtypes: bool(28), int64(13)
memory usage: 1.4 MB

In [53]:
import tensorflow as tf  # TensorFlow library for building neural networks
from tensorflow.keras.models import Sequential  # Sequential model for building a feedforward neural network
from tensorflow.keras.layers import Dense, Dropout  # Dense layer for fully connected layers
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.optimizers import Adam  # Adam optimizer for gradient descent
from sklearn.model_selection import train_test_split  # Function to split data into training and test sets
from sklearn.preprocessing import StandardScaler  # Standardization of features (scaling)

2024-11-13 13:37:34.476837: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

#### Splitting the dataset

In [58]:
X = df.drop(columns=["deposit"])
y = df["deposit"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [59]:
X_train.shape

(8929, 40)

#### Scaling my data

In [61]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

#### Building my model

In [63]:
model = Sequential()

#input layer
model.add(Dense(64, activation='relu', input_dim=X_train.shape[1]))
model.add(Dropout(0.3))

#hidden layers
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))

#output layer
model.add(Dense(1, activation='sigmoid'))

#Compiling the layers
model.compile(optimizer=Adam(learning_rate=0.0001), loss='binary_crossentropy', metrics=['accuracy'])

In [64]:
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [65]:
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100, batch_size=32, callbacks=[early_stopping])

Epoch 1/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - accuracy: 0.5247 - loss: 0.7854 - val_accuracy: 0.5983 - val_loss: 0.6634
Epoch 2/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.5937 - loss: 0.6743 - val_accuracy: 0.6888 - val_loss: 0.6127
Epoch 3/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6712 - loss: 0.6142 - val_accuracy: 0.7309 - val_loss: 0.5552
Epoch 4/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6946 - loss: 0.5815 - val_accuracy: 0.7546 - val_loss: 0.5055
Epoch 5/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7367 - loss: 0.5376 - val_accuracy: 0.7886 - val_loss: 0.4640
Epoch 6/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7596 - loss: 0.5008 - val_accuracy: 0.8074 - val_loss: 0.4361
Epoch 7/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7750 - loss: 0.4759 - val_accuracy: 0.8142 - val_loss: 0.4206
Epoch 8/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7889 - loss: 0.4607 - val_accuracy: 0.8204 - val_loss: 0.4110
Epoch 9/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7921 - loss: 0.4527 - val_accuracy: 0.8231 - val_loss: 0.4039
Epoch 10/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7945 - loss: 0.4464 - val_accuracy: 0.8262 - val_loss: 0.3997
Epoch 11/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8074 - loss: 0.4274 - val_accuracy: 0.8276 - val_loss: 0.3968
Epoch 12/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8099 - loss: 0.4289 - val_accuracy: 0.8267 - val_loss: 0.3942
Epoch 13/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8071 - loss: 0.4277 - val_accuracy: 0.8245 - val_loss: 0.3916
Epoch 14/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8161 - loss: 0.4110 - val_accuracy: 0.8245 - val_loss: 0.3905
Epoch 15/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8171 - loss: 0.4159 - val_accuracy: 0.8249 - val_loss: 0.3886
Epoch 16/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8203 - loss: 0.4068 - val_accuracy: 0.8240 - val_loss: 0.3875
Epoch 17/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8209 - loss: 0.4075 - val_accuracy: 0.8258 - val_loss: 0.3861
Epoch 18/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8130 - loss: 0.4119 - val_accuracy: 0.8262 - val_loss: 0.3850
Epoch 19/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8256 - loss: 0.3983 - val_accuracy: 0.8245 - val_loss: 0.3848
Epoch 20/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8219 - loss: 0.3994 - val_accuracy: 0.8258 - val_loss: 0.3836
Epoch 21/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8324 - loss: 0.3854 - val_accuracy: 0.8267 - val_loss: 0.3822
Epoch 22/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8171 - loss: 0.3992 - val_accuracy: 0.8271 - val_loss: 0.3815
Epoch 23/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8289 - loss: 0.3908 - val_accuracy: 0.8285 - val_loss: 0.3805
Epoch 24/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8285 - loss: 0.3926 - val_accuracy: 0.8276 - val_loss: 0.3803
Epoch 25/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8361 - loss: 0.3869 - val_accuracy: 0.8280 - val_loss: 0.3795
Epoch 26/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8375 - loss: 0.3787 - val_accuracy: 0.8271 - val_loss: 0.3794
Epoch 27/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8321 - loss: 0.3876 - val_accuracy: 0.8280 - val_loss: 0.3785
Epoch 28/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8372 - loss: 0.3783 - val_accuracy: 0.8271 - val_loss: 0.3778
Epoch 29/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8306 - loss: 0.3807 - val_accuracy: 0.8253 - val_loss: 0.3770
Epoch 30/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8369 - loss: 0.3731 - val_accuracy: 0.8267 - val_loss: 0.3766
Epoch 31/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8417 - loss: 0.3651 - val_accuracy: 0.8280 - val_loss: 0.3760
Epoch 32/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8453 - loss: 0.3694 - val_accuracy: 0.8280 - val_loss: 0.3761
Epoch 33/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8321 - loss: 0.3856 - val_accuracy: 0.8280 - val_loss: 0.3755
Epoch 34/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8355 - loss: 0.3734 - val_accuracy: 0.8298 - val_loss: 0.3749
Epoch 35/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8422 - loss: 0.3748 - val_accuracy: 0.8321 - val_loss: 0.3741
Epoch 36/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8372 - loss: 0.3737 - val_accuracy: 0.8321 - val_loss: 0.3742
Epoch 37/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8391 - loss: 0.3747 - val_accuracy: 0.8325 - val_loss: 0.3735
Epoch 38/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8398 - loss: 0.3748 - val_accuracy: 0.8321 - val_loss: 0.3732
Epoch 39/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8505 - loss: 0.3626 - val_accuracy: 0.8307 - val_loss: 0.3734
Epoch 40/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8356 - loss: 0.3771 - val_accuracy: 0.8325 - val_loss: 0.3731
Epoch 41/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8482 - loss: 0.3609 - val_accuracy: 0.8339 - val_loss: 0.3722
Epoch 42/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8402 - loss: 0.3672 - val_accuracy: 0.8325 - val_loss: 0.3719
Epoch 43/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8426 - loss: 0.3649 - val_accuracy: 0.8325 - val_loss: 0.3713
Epoch 44/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8429 - loss: 0.3660 - val_accuracy: 0.8330 - val_loss: 0.3711
Epoch 45/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8469 - loss: 0.3652 - val_accuracy: 0.8334 - val_loss: 0.3708
Epoch 46/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8455 - loss: 0.3599 - val_accuracy: 0.8343 - val_loss: 0.3703
Epoch 47/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8482 - loss: 0.3594 - val_accuracy: 0.8348 - val_loss: 0.3703
Epoch 48/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8403 - loss: 0.3700 - val_accuracy: 0.8343 - val_loss: 0.3706
Epoch 49/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8450 - loss: 0.3636 - val_accuracy: 0.8348 - val_loss: 0.3706
Epoch 50/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8466 - loss: 0.3627 - val_accuracy: 0.8352 - val_loss: 0.3701
Epoch 51/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8409 - loss: 0.3676 - val_accuracy: 0.8348 - val_loss: 0.3692
Epoch 52/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8484 - loss: 0.3569 - val_accuracy: 0.8334 - val_loss: 0.3699
Epoch 53/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8512 - loss: 0.3490 - val_accuracy: 0.8339 - val_loss: 0.3692
Epoch 54/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8547 - loss: 0.3424 - val_accuracy: 0.8352 - val_loss: 0.3692
Epoch 55/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8523 - loss: 0.3516 - val_accuracy: 0.8348 - val_loss: 0.3692
Epoch 56/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8482 - loss: 0.3583 - val_accuracy: 0.8343 - val_loss: 0.3688
Epoch 57/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8571 - loss: 0.3501 - val_accuracy: 0.8361 - val_loss: 0.3689
Epoch 58/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8558 - loss: 0.3445 - val_accuracy: 0.8339 - val_loss: 0.3685
Epoch 59/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8443 - loss: 0.3626 - val_accuracy: 0.8352 - val_loss: 0.3681
Epoch 60/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8539 - loss: 0.3467 - val_accuracy: 0.8339 - val_loss: 0.3679
Epoch 61/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8564 - loss: 0.3456 - val_accuracy: 0.8370 - val_loss: 0.3680
Epoch 62/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8538 - loss: 0.3487 - val_accuracy: 0.8356 - val_loss: 0.3675
Epoch 63/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8521 - loss: 0.3508 - val_accuracy: 0.8348 - val_loss: 0.3675
Epoch 64/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8452 - loss: 0.3571 - val_accuracy: 0.8365 - val_loss: 0.3673
Epoch 65/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8558 - loss: 0.3381 - val_accuracy: 0.8370 - val_loss: 0.3676
Epoch 66/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8494 - loss: 0.3506 - val_accuracy: 0.8343 - val_loss: 0.3666
Epoch 67/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8550 - loss: 0.3398 - val_accuracy: 0.8348 - val_loss: 0.3666
Epoch 68/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8490 - loss: 0.3460 - val_accuracy: 0.8343 - val_loss: 0.3663
Epoch 69/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8586 - loss: 0.3373 - val_accuracy: 0.8361 - val_loss: 0.3661
Epoch 70/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8639 - loss: 0.3292 - val_accuracy: 0.8352 - val_loss: 0.3661
Epoch 71/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8652 - loss: 0.3298 - val_accuracy: 0.8374 - val_loss: 0.3662
Epoch 72/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8575 - loss: 0.3415 - val_accuracy: 0.8325 - val_loss: 0.3663
Epoch 73/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8496 - loss: 0.3553 - val_accuracy: 0.8374 - val_loss: 0.3659
Epoch 74/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8592 - loss: 0.3370 - val_accuracy: 0.8401 - val_loss: 0.3658
Epoch 75/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8510 - loss: 0.3495 - val_accuracy: 0.8410 - val_loss: 0.3656
Epoch 76/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8520 - loss: 0.3473 - val_accuracy: 0.8415 - val_loss: 0.3655
Epoch 77/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8528 - loss: 0.3481 - val_accuracy: 0.8383 - val_loss: 0.3654
Epoch 78/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8547 - loss: 0.3459 - val_accuracy: 0.8370 - val_loss: 0.3655
Epoch 79/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8582 - loss: 0.3392 - val_accuracy: 0.8374 - val_loss: 0.3652
Epoch 80/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8603 - loss: 0.3354 - val_accuracy: 0.8370 - val_loss: 0.3652
Epoch 81/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8560 - loss: 0.3452 - val_accuracy: 0.8410 - val_loss: 0.3654
Epoch 82/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8652 - loss: 0.3265 - val_accuracy: 0.8388 - val_loss: 0.3645
Epoch 83/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8566 - loss: 0.3392 - val_accuracy: 0.8392 - val_loss: 0.3645
Epoch 84/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8586 - loss: 0.3319 - val_accuracy: 0.8392 - val_loss: 0.3641
Epoch 85/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8580 - loss: 0.3395 - val_accuracy: 0.8388 - val_loss: 0.3647
Epoch 86/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8586 - loss: 0.3395 - val_accuracy: 0.8388 - val_loss: 0.3644
Epoch 87/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8676 - loss: 0.3252 - val_accuracy: 0.8419 - val_loss: 0.3646
Epoch 88/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8601 - loss: 0.3305 - val_accuracy: 0.8437 - val_loss: 0.3640
Epoch 89/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8597 - loss: 0.3277 - val_accuracy: 0.8410 - val_loss: 0.3635
Epoch 90/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8627 - loss: 0.3242 - val_accuracy: 0.8397 - val_loss: 0.3630
Epoch 91/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8615 - loss: 0.3303 - val_accuracy: 0.8397 - val_loss: 0.3639
Epoch 92/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8591 - loss: 0.3393 - val_accuracy: 0.8406 - val_loss: 0.3639
Epoch 93/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8577 - loss: 0.3351 - val_accuracy: 0.8392 - val_loss: 0.3635
Epoch 94/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8606 - loss: 0.3297 - val_accuracy: 0.8383 - val_loss: 0.3636
Epoch 95/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8651 - loss: 0.3237 - val_accuracy: 0.8370 - val_loss: 0.3639
Epoch 96/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8582 - loss: 0.3397 - val_accuracy: 0.8392 - val_loss: 0.3632
Epoch 97/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8621 - loss: 0.3272 - val_accuracy: 0.8374 - val_loss: 0.3640
Epoch 98/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8546 - loss: 0.3358 - val_accuracy: 0.8374 - val_loss: 0.3642
Epoch 99/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8634 - loss: 0.3256 - val_accuracy: 0.8383 - val_loss: 0.3650
Epoch 100/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8623 - loss: 0.3287 - val_accuracy: 0.8392 - val_loss: 0.3646

In [66]:
# Evaluate the model
test_loss, test_acc = model.evaluate(X_test, y_test)

print(f"Test Accuracy: {test_acc * 100:.2f}%")

70/70 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8381 - loss: 0.3918
Test Accuracy: 83.97%